/* index.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0f111a;
  color: #fff;
  display: flex;
  justify-content: center; /* centers main container horizontally */
}

#root {
  width: 100%;
}
